.container{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & :nth-child(1){
    font-size: 2rem;
  }
}


.btn-disable{
  cursor: not-allowed;
  opacity: 0.7;
}
