.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button-add-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 16px;
}


.box-search {
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  height: 44px;
  position: relative;
  width: 300px;

  input {
    border: none;
    box-shadow: none;
    outline: none;
    padding-left: 20px;
    height: 100%;
    width: 100%;
  }


  .search-box {
    height: 100%;
    width: 40px;
    // background-color: #1890ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;


    .icon-search {
      font-size: 20px;
    }
  }


}