// .inner-content{
//   min-height: 100vh;
// }



.status-box {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  flex: 1;
  height: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &:hover {
    opacity: 0.7;
    text-decoration: underline;
    // border: solid 2px black;
  }

  h3 {
    color: white;
    font-size: small;
  }

  p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}


.box-1 {
  background-color: orange;
}

.box-2 {

  background-color: red;
}


.box-3 {
  background-color: green;
}

.box-4 {
  background-color: blue;
}

.summary-cards {
  margin-bottom: 16px;
}

.chart-section {
  margin-top: 16px;
}

.chart-container {
  height: 400px;
  width: 100%;
}